<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Melhores filmes de Star Wars</h2>
  <p>
   <img src="../../assets/imgs/movie 1.jpg">
  </p>
  <p>
    <img src="../../assets/imgs/movie 3.jpg">
  </p>
</ion-content>
