<!--
  Generated template for the IntroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>


</ion-header>


<ion-content padding>
  <ion-slides pager>

    <ion-slide style="background-color: white">
      <img src='../../assets/imgs/27-Star-Wars-logo-white-5x6.jpg'>
      <h4>Neste aplicativo você encontrará</h4>
    </ion-slide>

    <ion-slide style="background-color: white">
    <img src='../../assets/imgs/movie 1.jpg'>
      <h4>Aqui você poderá visualizar os personagens que fazem parte de SW</h4>

    </ion-slide>

    <ion-slide style="background-color: white">
      <img src='../../assets/imgs/movie 2.jpg'>
      <h4>Está preparado ?</h4>
      <a (click)='irPagina()'>IR PARA APLICATIVO</a>
    </ion-slide>

  </ion-slides>

</ion-content>