<!--
  Generated template for the ComidasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>StarWars</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let item of listaPersonagens ">
    <ion-card-content>
      <ion-card-title>
        NOME: {{item.name}}
      </ion-card-title>
      <span>Genero: {{item.gender}}</span>
      <br/>
      <span>Nascimento: {{item.birth_year}}</span>
    </ion-card-content>
  </ion-card>

</ion-content>